body {
  background: #020617;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 80px auto;
  padding: 30px;
  background: #0f172a;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background: #020617;
  padding: 15px;
}
